---
layout: default
---

<div class="home">

  <h1>Web Development in Southwest Missouri</h1>
  
  <p>{{site.description}}</p>
  
  <h2>Technology I Love To Use</h2>
  <div class="technologies">
    {% for tech in site.data.technology %}
    {% if tech.url %}<a href="{{tech.url}}" target="_blank">{% endif %}
    <div class="tech" title="{{tech.name}}">
      <img class="tech-icon" src="/assets/img/tech/{{tech.image}}">
    </div>
    {% if tech.url %}</a>{% endif %}
    {% endfor %}
  </div>

  <h2>Open Source</h2>
  <div class="subtitle">A selection of open source projects I have contributed to.</div>
  <div class="libraries">
    {% for library in site.data.libraries %}
    <div class="library">
      <img class="github-mark" src="/assets/img/GitHub-Mark-32px.png">
      <div class="library-name">
        <a href="https://github.com/{{library.url}}" target="_blank">{{library.name}}</a>
      </div>
      <p class="library-description">{{library.description}}</p>
    </div>
    {% endfor %}
  </div>

</div>
