---
layout: default
---

<div class="home">

  <h1>Custom Web Development in Monett, Missouri</h1>
  
  <p>{{site.description}}</p>

  <h2>Products</h2>
  <div class="project-list">
    {% for product in site.data.products %}
    <div class="project">
      <div class="project-title"><a href="{{ product.url }}" target="_blank">{{ product.name }}</a></div>
      <a href="{{ product.url }}" target="_blank"><img class="project-thumb" src="{{ site.baseurl }}/assets/img/projects/{{ product.img }}"></a>
      <div class="project-role">{{ product.description | markdownify }}</div>
    </div>
    {% endfor %}
  </div>

  <h2>Portfolio</h2>
  <div class="subtitle">Websites we have consulted on.</div>
  <div class="project-list">
    {% for project in site.data.projects %}
    <div class="project">
      <div class="project-title"><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></div>
      <a href="{{ project.url }}" target="_blank"><img class="project-thumb" src="{{ site.baseurl }}/assets/img/projects/{{ project.img }}"></a>
      <div class="project-role">{{ project.role | markdownify }}</div>
    </div>
    {% endfor %}
  </div>
  
  <h2>Projects</h2>
  <div class="subtitle">Open source projects we have contributed to.</div>
  <div class="libraries">
    {% for library in site.data.libraries %}
    <div class="library">
      <img class="github-mark" src="/assets/img/GitHub-Mark-32px.png">
      <div class="library-name">
        <a href="https://github.com/{{library.url}}" target="_blank">{{library.name}}</a>
      </div>
      <p class="library-description">{{library.description}}</p>
    </div>
    {% endfor %}
  </div>

</div>
